{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "arrow-parens": ["error", "always"],
    "linebreak-style": 0
  }
}
